#image{
	padding: 1%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  }

.left {
	display: block;
	margin-left: 1em;
	margin-right: auto;
  }

#km, #submitButton{
	font-size: 200%;
	height: 10%;
	width: 80%;
}


.text-normal{
	font-size: 1.25em;
}

.text-large{
	font-size: 2em;
}

.text{
	font-size: 200%;
}
